.fcarousel 
	{
		min-height:300px;
		width: 100%;
		padding: 0;
		margin: 0;
		position: relative;
	}
.fcarousel-inner
	{
		position: absolute;
		height: 100%;
		overflow: hidden;
		white-space:nowrap;  
		width: 100%;
		vertical-align: top;
		padding: 0;
		margin: 0;
		z-index: 50;
		left:0;
	}
.fcarousel-warp 
	{
		position: absolute;
		height: 100%;
		display: inline;
		padding: 0;
		margin: 0;
		left:0;
	}

.fcarousel-item 
	{
		display: block;
		float: left;
		min-height: 300px;
		overflow: hidden;
		background-size: cover;
		padding: 0;
		margin-right: 0;
		margin-left: 5px;
	    margin-top: 0;
		margin-bottom: 0;
		width: 400px;

	}

	
	
	
.fcarousel .fcarousel-control-prev
{
	position: absolute;
	top: calc(50% - 12px);
	left: 20px;
	z-index: 100;	
}
	
	
.fcarousel .fcarousel-control-next
{
	position: absolute;
	top: calc(50% - 12px);
	right: 20px;
	z-index: 100;	
}
	
	
	@media (max-width: 768px) {
		
		.fcarousel-item 
	{
		width: 100vw;
		margin: 0;

	}

	}
