.fcarousel 
	{
		height:300px;
		width: 100%;
		padding: 0;
		margin: 0;
		position: relative;
	}
.fcarousel-inner
	{
		position: absolute;
		height: 100%;
		overflow: hidden;
		white-space:nowrap;  
		width: 100%;
		vertical-align: top;
		padding: 0;
		margin: 0;
		z-index: 50;
		left:0;
	}
.fcarousel-warp 
	{
		position: absolute;
		height: 100%;
		display: inline;
		padding: 0;
		margin: 0;
		left:0;
	}

.fcarousel-item 
	{
		display: block;
		float: left;
		height: 300px;
		overflow: hidden;
		background-size: cover;
		padding: 0;
		margin-right: 0;
		margin-left: 5px;
                margin-top: 0;
		margin-bottom: 0;
		width: 400px;

	}

	
	
	
.fcarousel .fcarousel-control-prev
{
	position: absolute;
	top: calc(50% - 12px);
	left: 20px;
	z-index: 100;	
}
	
	
.fcarousel .fcarousel-control-next
{
	position: absolute;
	top: calc(50% - 12px);
	right: 20px;
	z-index: 100;	
}
	
	
	@media (max-width: 768px) {
		
		.fcarousel-item 
	{
		width: 100vw;
		margin: 0;

	}

	}

        
        
         
 
.fcarousel   .fcarousel-control-prev-wrapper
{
	position: absolute;
        top: 0px;
	left: 0;
	z-index: 89;
        height: calc(100% - 0px);
        width:25px;
        background: rgba(0, 0, 0, 0.7);
}

.fcarousel .fcarousel-control-prev-wrapper .fcarousel-control-prev
{
   left: 5px;
}

.fcarousel .fcarousel-control-prev-wrapper .fcarousel-control-prev  i 
{
    color: #ffffff !important;
}
	
.fcarousel .fcarousel-control-next-wrapper
{
	position: absolute;
        top: 0px;
	right: 0;
	z-index: 89;
        height: calc(100% - 0px);
        width:25px;
        background: rgba(0, 0, 0, 0.7);
}

.fcarousel .fcarousel-control-next-wrapper .fcarousel-control-next  i 
{
    color: #ffffff;
}

.fcarousel .fcarousel-control-next-wrapper .fcarousel-control-next 
{
	right: 5px;
    
}



@media (min-width: 769px) {
    .fcarousel-warp
    {
        padding-right: 30px;
        padding-left: 30px;
    }
    
}

@media (max-width: 768px) {
		
.fcarousel-item
{
    padding-right: 30px;
    padding-left: 30px;
}
}
