/* 
    Created on : Jan 14, 2018, 8:40:09 PM
    Author     : Mohamed Almoelef
    Email      : info@fullstackdeveloper.org
    Website    : fullstackdeveloper.org
*/


.fcarousel .fcarousel-outer .fcarousel-inner .fcarousel-photo-warp
        {
             display: flex;
             flex-direction: column;
             justify-content: center;
             align-items: center;
             position: relative;

           
               .fcarousel-photo
               {
                    max-height: 100%;
                    max-width: 100%;
                    margin: 0;
                    padding: 0;
                }
                
                
                .photo-icon
                {
                    position: absolute;
                    top: 0; left: 0;
                    padding: 7px;
                    background: rgba(0, 0, 0, 0.5);
                    border-top-right-radius: 40%;
                    border-bottom-right-radius: 40%;
                    
                    &:hover {
                    background: rgba(0, 0, 0, 0.7);
                    }


                    i {
                        color: #ffffff;
                    }

                }
        }
        
	