/* 
    Created on : Jan 14, 2018, 8:40:09 PM
    Author     : Mohamed Al Moelef
    Email      : info@fullstackdeveloper.org
    Website    : fullstackdeveloper.org
*/


.fcarousel .fcarousel-outer .fcarousel-inner .fcarousel-offer
 {
     cursor: pointer;
     display:flex;
     flex-direction: column;
        .fcarousel-offer-photo-warp
        {
            display: flex;
            min-height: 100px;
            margin: 0;
            padding: 0;
            width: 100%;
            border-bottom: #cccccc 1px solid;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;

            
            .fcarousel-offer-photo
            {
                max-height: 100%;
                max-width: 100%;
                margin: 0;
            }
            
            .photo-icon
            {
                position: absolute;
                top: 0; left: 0;
                padding: 10px;
                background: rgba(0, 0, 0, 0.5);
                border-top-right-radius: 20%;
                border-bottom-right-radius: 20%;
                color: #ffffff;
                font-size: 70px;
                &:hover {
                    background: rgba(0, 0, 0, 0.7);
                }
                
                i {
                    color: #ffffff;
                  }

            }

        }
        
        
        .fcarousel-offer-photo-crop
        {
            display: block;
            min-height: 100px;
            margin: 0;
            padding: 0;
            width: 100%;
            position: relative;
            border-bottom: #cccccc 1px solid;
            
            .fcarousel-offer-photo
            {
                display: block;
                height: 100%;
                width: 100%;
                background-size: cover;
                margin: 0;
            }

            .photo-icon
            {
                position: absolute;
                top: 0; left: 0;
                padding: 10px;
                background: rgba(0, 0, 0, 0.5);
                border-top-right-radius: 20%;
                border-bottom-right-radius: 20%;
                color: #ffffff;
                font-size: 70px;
                
                &:hover {
                    background: rgba(0, 0, 0, 0.7);
                }

                
                i {
                    color: #ffffff;
                }

            }
            
        }
        
        
        .fcarousel-offer-details
        {
            padding-left: 10px;
            padding-right: 10px;
            padding-bottom: 10px; 
            margin: 0;
            box-sizing: border-box;
                .fcarousel-offer-title
                {
                    padding-top:7px;
                    padding-bottom:7px;
                    padding-left:5px;
                    padding-right:5px;
                    font-weight:bold;
                    width:100%;
                    display:block;
                    font-size: 20px;
                    overflow: hidden;
                    margin: 0;
                    box-sizing: border-box;
                }
                
                .fcarousel-offer-desc
                {
                    padding-left:5px;
                    padding-right:5px;
                    width:100%;
                    display:block;
                    font-size: 18px;
                    overflow: hidden;
                    white-space:normal;
                    margin: 0;
                    box-sizing: border-box;
                }

        }
        
        
        
        .fcarousel-offer-price
        {
                display: flex;
                align-items:center;
                align-content:center;
                justify-content:center;
                flex-direction: row;
                font-size: 20px;
                font-weight: bold;
                color: #ffffff;
                

            .fcarousel-offer-price-before
            {
                background-color: red;
                text-decoration: line-through;
                text-decoration-color: green;
                text-transform: uppercase;
                text-align: center;
                padding: 5px;
                width:50%;
            }
            .fcarousel-offer-price-now
            {
                background-color: green;
                text-transform: uppercase;
                text-align: center;
                padding: 5px;
                width:50%;

            }
        }
        
        
        
        .fcarousel-offer-end
        {
            border-top: 1px solid #000000;
            border-bottom: 1px solid #000000;
             
            .fcarousel-offer-end-title
            {
                background: #000000;
                color: #ffffff;
                font-size: 20px;
                text-align: center;
                padding: 5px;
            }
            .fcarousel-offer-end-time
            {
                display: flex;
                align-items:center;
                align-content:center;
                justify-content:center;
                flex-direction: row;
                background: #000000;
                color: #ffffff;
                font-size: 20px;

                div {
                    padding: 5px;

                    span {
                        padding-left: 3px;
                        padding-right: 3px;
                    }
                }

            }
            
        }
        
        
        
        
        
        .fcarousel-offer-action
        {
            flex-grow: 1;
            display: flex;
            align-items:flex-end;
            align-content:flex-end;
            justify-content:flex-start;
            flex-direction: row;

        .fcarousel-offer-display-url
        {
            width:50%;
            box-sizing: border-box;
            text-align:left;
            padding-left:10px;
            padding-right:5px;
            padding-bottom:10px;

            
            span
            {
            font-size: 12px;
            color:#ccc;
            }
        }
        
        
        .fcarousel-offer-display-button
        {
            width:50%;
            box-sizing: border-box;
            text-align:right;
            padding-right:10px;
            padding-left:5px;
            padding-bottom:15px;

            
            a {
                font-size: 20px;
                padding: 5px;
                background-color: #f6f7f9;
                border: rgb(206, 208, 212) 1px solid;
                border-radius: 10%;
                text-decoration: none;
                color: #4b4f56;
                
                &:hover {
                    background-color: darken(#f6f7f9, 10%);
                }
            }
            
            

        }
        
        }
        
 }
 
 
 
 
        
.fcarousel.fcarousel-rtl .fcarousel-outer .fcarousel-inner .fcarousel-offer
        {

            .fcarousel-offer-photo-warp, .fcarousel-offer-photo-crop
            {
                .photo-icon
                    {
                        right: 0;
                        left:auto;
                        border-top-left-radius: 20%;
                        border-bottom-left-radius: 20%;
                        border-top-right-radius: 0;
                        border-bottom-right-radius: 0;
                    }
            }
            
            
            
            .fcarousel-offer-action
            {
                .fcarousel-offer-display-url
                {
                    text-align:right;
                }        
                .fcarousel-offer-display-button
                {
                    text-align:left;           
                }
            }



        
        }
